{% extends "Main.html" %}
{% load static %}

{% block content %}
    <script type='text/javascript'>
        let transactions = []
        let updateAccountId = null
        
        {% for item in transactions.object_list %}
            if ('{{item.value}}'.includes('-')) {
                transactions.push({
                    id: '{{ item.id }}',
                    date: '{{ item.date }}',
                    negative: true,
                    value: '{{ item.value }}',
                    total: '{{item.account.get_total}}',
                    currency: '{{ item.value_currency }}',
                    recipient: '{{ item.recipient }}',
                    account_name: '{{ item.account.name }}',
                    account_alias: '{{ item.account.alias }}',
                    notes: '{{ item.notes }}',
                })            
            } else {
                transactions.push({
                    id: '{{ item.id }}',
                    date: '{{ item.date }}',
                    negative: false,
                    value: '{{ item.value }}',
                    total: '{{item.account.get_total}}',
                    currency: '{{ item.value_currency }}',
                    recipient: '{{ item.recipient }}',
                    account_name: '{{ item.account.name }}',
                    account_alias: '{{ item.account.alias }}',
                    notes: '{{ item.notes }}',
                })            
            }
        {% endfor %}
            
    </script>
    
    {% block dialog %}
        <div class='hidden absolute w-full flex place-content-center top-[3.5rem] mx-[-2.5rem] z-[1]' id='dialog'>
            <div class='relative w-96 bg-slate-50 border border-black rounded-md p-5' id='dialogBox'>
                <p id='dialogText'></p>
                <div class='flex justify-around mt-5' id='dialogButtons'>
                </div>
            </div>
        </div>
    {% endblock dialog %}

    <div class='transition-all' id='blurBackground'>
        <div class='flex items-center justify-center w-screen'>
            <div class='inline-block left-0 w-1/5 h-[92dvh] bg-blue-600' id='sidebar'>
            </div>
            <div class='flex flex-col justify-center w-4/5 h-[92dvh] p-10'>
                <div class='flex w-full h-fit items-center justify-around border-b border-black text-center px-4' id='titlesBox'>
                    <h1 class='max-w-1/4'>Date</h1>
                    <h1 class='max-w-1/4'>Transaction value</h1>
                    <h1 class='max-w-1/4'>Total</h1>
                    <h1 class='max-w-1/4'>Recipient</h1>
                </div>
                <div class='flex flex-col w-full h-full overflow-auto text-center px-4' id='transactionsBox'>
                    
                    {% for item in transactions.object_list %}
                        <div class='transaction flex w-full min-h-10 items-center justify-around cursor-pointer border border-black rounded-md my-3 hover:waa' id='transaction{{item.id}}'>
                            <h1 class='max-w-1/4' id='date{{item.id}}'>{{item.date}}</h1>
                            <h1 class='max-w-1/4' id='value{{item.id}}'>{{item.value}}</h1>
                            <h1 class='hidden' id='currency{{item.id}}'>{{item.value_currency}}</h1>
                            <h1 class='max-w-1/4' id='total{{item.id}}'>{{item.account.get_total}}</h1>  

                            {% if item.recipient %}
                                <h1 class='max-w-1/4' id='recipient{{item.id}}'>{{item.recipient}}</h1>
                            {% else %}
                                <h1 class='max-w-1/4' id='recipient{{item.id}}'>No recipient</h1>
                            {% endif %}
                                
                        </div>    
                    {% endfor %}

                    {% if transactions.has_previous or transactions.has_next %}
                        <center class='mt-16 mb-3'>
                            {% if transactions.has_previous %}
                                <a href="?page={{transactions.previous_page_number}}"><</a>
                            {% endif %}
                            <span>Page {{transactions.number}} of {{p.num_pages}}</span>
                            {%if transactions.has_next %}
                                <a href="?page={{transactions.next_page_number}}">></a>
                            {% endif %}
                        </center>
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </div>
    
    {% block modal %}
        <div id="modal" class="hidden fixed inset-0 flex items-center justify-center">
            <div class="relative place-items-center bg-white p-6 rounded-lg shadow-lg" id='modalBox'>
                <button onclick="closeModal()" class="absolute top-3 right-4 text-xl z-[5] hover:text-red-600" id='modalClose'>✕</button>

                {% block user %}
                    <div class='hidden place-items-center mx-5' id='modalUser'>
                        <h1 class='text-2xl max-w-96 whitespace-nowrap overflow-hidden overflow-ellipsis'>{{user}}</h1>
                        <p class="max-w-72 text-center text-red-500 hidden" id='userError'></p>
                        
                        {% if error %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endif %}
                        
                        <form action="{% url 'update_user' %}" method='post' id='userForm' autocomplete="off">
                            {% csrf_token %}
                            <div class='flex flex-col mt-5 p-3' id='userFormBox'>
                                <input class='rounded-md m-2' type="text" name="username" id="userNameUser" placeholder='Username'>
                                <input class='rounded-md m-2' type="text" name="first_name" id="firstNameUser" placeholder='First name'>
                                <input class='rounded-md m-2' type="text" name="last_name" id="lastNameUser" placeholder='Last name'>
                                <input class='rounded-md m-2' type="email" name="email" id="emailUser" placeholder='Email'>
                                    
                                {% block password_toggle_visibility %}
                                    <div class='hidden relative' id='passwordUserBox'>
                                        <input class='rounded-md m-2' type="password" name="password" id="passwordUser" placeholder='Password' autocomplete="new-password">
                                        <button type="button" onclick='togglePasswordVisibility("passwordUser", "iconContainer1")' class="togglePass absolute inset-y-0 right-0 flex items-center pr-3" aria-label="Toggle password visibility">
                                            <div class="relative h-5 w-5 showing-eye-off" id='iconContainer1'>
                                                <!-- Eye-Off Icon (visible by default) -->
                                                <div class="eyeOffBox absolute top-0 left-0 w-full h-full overflow-hidden">
                                                    <svg class="eyeOff absolute top-0 left-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" transform="translate(24,0) scale(-1,1)" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7A9.97 9.97 0 014.02 8.971m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88 6.59 6.59m7.532 7.532 3.29 3.29M6.59 6.59A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411" />
                                                        <path class="diagonal-line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 3L3 21" />
                                                    </svg>
                                                </div>
                                                <!-- Eye Icon (hidden by default) -->
                                                <div class="eyeOnBox absolute bottom-0 left-0 w-full h-full overflow-hidden">
                                                    <svg class="eyeOn absolute bottom-0 left-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                {% endblock password_toggle_visibility %}
                                                                    
                                {% block confirm_password_toggle_visibility %}
                                    <div class='hidden relative' id='confirmPasswordUserBox'>
                                        <input class='rounded-md m-2' type="password" name="confirm_password" id="confirmPasswordUser" placeholder='Confirm password' autocomplete="new-password">
                                        <button type="button" onclick='togglePasswordVisibility("confirmPasswordUser", "iconContainer2")' class="togglePass absolute inset-y-0 right-0 flex items-center pr-3" aria-label="Toggle password visibility">
                                            <div class="relative h-5 w-5 showing-eye-off" id='iconContainer2'>
                                                <!-- Eye-Off Icon (visible by default) -->
                                                <div class="eyeOffBox absolute top-0 left-0 w-full h-full overflow-hidden">
                                                    <svg class="eyeOff absolute top-0 left-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" transform="translate(24,0) scale(-1,1)" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7A9.97 9.97 0 014.02 8.971m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88 6.59 6.59m7.532 7.532 3.29 3.29M6.59 6.59A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411" />
                                                        <path class="diagonal-line" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 3L3 21" />
                                                    </svg>
                                                </div>
                                                <!-- Eye Icon (hidden by default) -->
                                                <div class="eyeOnBox absolute bottom-0 left-0 w-full h-full overflow-hidden">
                                                    <svg class="eyeOn absolute bottom-0 left-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                {% endblock confirm_password_toggle_visibility %}
                                
                            </div>
                            <div class='flex flex-col'>
                                <button type='button' onclick='showPasswordUpdate()' class='hover:opacity-80 text-md' id='changePassBtn'>Change password</button>
                                <button type='button' onclick='checkUpdateUser()' class='hover:opacity-80 text-md' id='updateUserBtn'>Update</button>
                                <button type='button' onclick='dialogOpen("deleteUser")' class='hover:opacity-80 text-sm text-red-500 mt-3' id='deleteUserBtn'>Delete user</button>
                            </div>
                        </form>
                    </div>
                {% endblock user %}
                    
                {% block transaction %}
                    <div class='hidden place-items-center mx-5' id='modalTransaction'>
                        <h1 class='text-2xl max-w-96 whitespace-nowrap overflow-hidden overflow-ellipsis'>Add transaction</h1>
                        <p class="max-w-72 text-center text-red-500 hidden" id='transactionError'></p>
                        
                        {% if error %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endif %}
                        
                        <form action="{% url 'add_transaction' %}" method='post' id='transactionForm'>
                            {% csrf_token %}
                            <div class='flex flex-col mt-5 p-3' id='transactionFormBox'>
                                <input class='hidden rounded-md m-2' type="number" name="id" id="idTransaction" placeholder='Id'>
                                <input class='rounded-md m-2' type="date" name="date" id="dateTransaction" placeholder='Date (default today)'>
                                <input class='rounded-md m-2' type="number" name="value" id="valueTransaction" placeholder='Transaction value'>
                                <div data-tip="Default currency is account currency">
                                    <input class='rounded-md m-2' type="text" name="currency" id="currencyTransaction" placeholder='Currency (USD, DKK...)'>
                                </div>
                                <input class='rounded-md m-2' type="text" name="recipient" id="recipientTransaction" placeholder='Recipient'>
                                <input class='rounded-md m-2' type="text" name="account" id="accountTransaction" placeholder='Account'>
                                <textarea class='max-h-20 rounded-md m-2' name="notes" id="notesTransaction" placeholder='Notes'></textarea>
                            </div>
                            <div class='flex flex-col'>
                                <button type='button' onclick='checkTransactionAccountId()' class='hover:opacity-80 text-md' id=btnAddTransaction'>Add transaction</button>
                            </div>
                        </form>
                    </div>
                {% endblock transaction %}
                        
                {% block updateTransaction %}
                    <div class='hidden place-items-center mx-5' id='modalUpdateTransaction'>
                        <h1 class='text-2xl max-w-96 whitespace-nowrap overflow-hidden overflow-ellipsis' id='updateTransactionTitle'>Update transaction</h1>
                        <p class="max-w-72 text-center text-red-500 hidden" id='updateTransactionError'></p>
                        
                        {% if error %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endif %}
                        
                        <form action="{% url 'update_transaction' %}" method='post' id='updateTransactionForm' autocomplete="off">
                            {% csrf_token %}
                            <div class='flex flex-col mt-5 p-3' id='updateTransactionFormBox'>
                                <input class='rounded-md m-2' type="date" name="date" id="dateUpdateTransaction" placeholder='Date (default today)'>
                                <input class='rounded-md m-2' type="number" name="value" id="valueUpdateTransaction" placeholder='Transaction value'>
                                <input class='rounded-md m-2' type="text" name="currency" id="currencyUpdateTransaction" placeholder='Currency (USD, DKK...)'>
                                <input class='rounded-md m-2' type="text" name="recipient" id="recipientUpdateTransaction" placeholder='Recipient'>
                                <input class='rounded-md m-2' type="text" name="account" id="accountUpdateTransaction" placeholder='Account'>
                                <textarea class='max-h-20 rounded-md m-2' name="notes" id="notesUpdateTransaction" placeholder='Notes'></textarea>
                            </div>
                            <div class='flex flex-col'>
                                <button type='button' onclick='updateTransaction()' class='hover:opacity-80 text-md' id='updateTransactionBtn'>Update transaction</button>
                                <button type='button' onclick='dialogOpen("deleteTransaction")' class='hover:opacity-80 text-sm text-red-500 mt-3' id='deleteTransactionBtn'>Delete transaction</button>
                            </div>
                        </form>
                    </div>
                {% endblock updateTransaction %}

                {% block addAccount %}
                    <div class='hidden place-items-center mx-5' id='modalAddAccount'>
                        <h1 class='text-2xl max-w-96 whitespace-nowrap overflow-hidden overflow-ellipsis'>Add account</h1>
                        <p class="max-w-72 text-center text-red-500 hidden" id='addAccountError'></p>
                        
                        {% if error %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endif %}
                        
                        <form action="{% url 'add_account' %}" method='post' id='addAccountForm' autocomplete="off">
                            {% csrf_token %}
                            <div class='flex flex-col mt-5 p-3' id='addAccountBox'>
                                <input class='rounded-md m-2' type="text" name="name" id="nameAddAccount" placeholder='Account name'>
                                <input class='rounded-md m-2' type="text" name="alias" id="aliasAddAccount" placeholder='Account alias (preferred)'>
                                <div data-tip="Default currency is DKK">
                                    <input class='rounded-md m-2' type="text" name="currency" id="currencyAddAccount" placeholder='Currency (USD, DKK...)'>
                                </div>
                            </div>
                            <div class='flex flex-col'>
                                <button type='button' onclick='addAccount()' class='hover:opacity-80 text-md' id='addAccountBtn'>Add account</button>
                            </div>
                        </form>
                    </div>
                {% endblock addAccount %}
                
                {% block accountList %}
                    <div class='hidden w-56 place-items-center mx-5' id='modalAccountList'>
                        <div class='w-full max-h-64 place-items-center overflow-auto'>
                            
                            {% for account in accounts %}
                                
                                {% if account.alias %}
                                    <button onclick='openModal("updateAccount", {{account.id}})' class='updateAccountBtn w-full text-center py-1 hover:opacity-70' id='updateAccountBtn{{account.id}}'>account {{account.alias}}</button>    
                                {% else %}
                                    <button onclick='openModal("updateAccount", {{account.id}})' class='updateAccountBtn w-full text-center py-1 hover:opacity-70' id='updateAccountBtn{{account.id}}'>account {{account.name}}</button>
                                {% endif %}
                                    
                            {% endfor %}
                            
                        </div>
                    </div>
                {% endblock accountList %}
                    
                {% block updateAccount %}
                    <div class='hidden place-items-center mx-5' id='modalUpdateAccount'>
                        <h1 class='text-2xl max-w-96 whitespace-nowrap overflow-hidden overflow-ellipsis'>Update account</h1>
                        <p class="max-w-72 text-center text-red-500 hidden" id='updateAccountError'></p>
                        
                        {% if error %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endif %}
                        
                        <form action="{% url 'update_account' %}" method='post' id='updateAccountForm' autocomplete="off">
                            {% csrf_token %}
                            <div class='flex flex-col mt-5 p-3' id='updateAccountBox'>
                                <input class='rounded-md m-2' type="text" name="name" id="nameUpdateAccount" placeholder='Account name'>
                                <input class='rounded-md m-2' type="text" name="alias" id="aliasUpdateAccount" placeholder='Account alias (preferred)'>
                                <input class='rounded-md m-2' type="text" name="currency" id="currencyUpdateAccount" placeholder='Currency (USD, DKK...)'>
                            </div>
                            <div class='flex flex-col'>
                                <button type='button' onclick='updateAccount()' class='hover:opacity-80 text-md' id='BtnUpdateAccount'>Update account</button>
                                <button type='button' onclick='dialogOpen("deleteAccount")' class='hover:opacity-80 text-sm text-red-500 mt-3' id='deleteAccountBtn'>Delete account</button>
                            </div>
                        </form>
                    </div>
                {% endblock updateAccount %}
                                        
            </div>
        </div>
    {% endblock modal %}
                                                                                    
    <script type=text/javascript>
        document.addEventListener('click', (e) =>  {
            let updateAccountBtns = document.querySelectorAll('.updateAccountBtn')

            updateAccountBtns.forEach(btn => {
                if (btn.contains(e.target)) {
                    updateAccountId = parseInt(btn.getAttribute('id').split('updateAccountBtn')[1])
                    if (updateAccountId) {
                        
                        {% for account in accounts %}
                            if ({{account.id}} == updateAccountId) {
                                document.querySelector('#nameUpdateAccount').value = '{{account.name}}'
                                document.querySelector('#aliasUpdateAccount').value = '{{account.alias}}'
                                document.querySelector('#currencyUpdateAccount').value = '{{account.valuta}}' 
                            }
                        {% endfor %}
                               
                    }
                }
            })
        })

        function checkTransactionAccountId() {

            {% for account in accounts %}              
                
                if ({{account.name}} == document.querySelector('#accountTransaction').value) {
                    document.querySelector('#idTransaction').value = '{{account.id}}'
                } else if ('{{account.alias}}' == document.querySelector('#accountTransaction').value) {
                   document.querySelector('#idTransaction').value = '{{account.id}}'
                }

            {% endfor %}

            addTransaction()
        }
    </script>
{% endblock content %}
    