{% load static tailwind_tags %}
            <!DOCTYPE html>
            {% load static %}
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>CoinControl</title>
                {% tailwind_css %}
                <script type='text/javascript'>
                    const user = '{{request.user}}';
                    const userInfo = {
                        username: '{{ user.username }}',
                        email: '{{ user.email }}',
                        first_name: '{{ user.first_name }}',
                        last_name: '{{ user.last_name }}',
                    }
                </script>
            </head>
            <body>

                {% block navbar %}
                    <nav class='flex-nowrap relative flex h-[8dvh] w-full items-center justify-between py-2 border-b border-black'>
                        <div class='flex w-full flex-wrap items-center px-3'>
                            <h1 class='inline-block text-3xl text-gray-400 mx-5'>CoinControl</h1>
                        </div>
                        <div class='flex flex-grow justify-end' id='userActions'>
                            <button onclick='toggleMenu()' class='inline-block font-[900] rotate-45 text-black hover:text-opacity-70 z-50' id='menuBtn'>✕</button>
                            <div class='menuBox hidden absolute bg-white w-44 border border-black rounded-md overflow-auto mt-5 z-[5]' id='menuBox'>
                                <button onclick='openModal("transaction")' class='w-full text-center py-1 hover:opacity-70' id='addTransactionBtn'>Add transaction</button>
                                <button onclick='openModal("addAccount")' class='w-full text-center py-1 hover:opacity-70' id='addAccountBtn'>Add account</button>
                                <button onclick='openModal("accountList")' class='w-full text-center py-1 hover:opacity-70' id='updateAccountBtn'>Update account</button>
                            </div>
                            <h2 class='inline-block justify-end max-w-40 whitespace-nowrap overflow-hidden overflow-ellipsis text-lg right-0 mx-5' id='userName'>Username</h2>
                            <button onclick='logoutFunc()' class='inline-block justify-end text-md border border-black rounded-md text-black hover:text-opacity-70 px-2 right-0 mr-5' id='logoutBtn'>Logout</button>
                        </div>
                    </nav>
                {% endblock navbar %}
                
                <div class='container'>

                    {% block content %}
                        
                    {% endblock content %}
                        
                    <script type='text/javascript' src='{% static "js/mainActions.js" %}'></script>
                </div>
                

                <script type='text/javascript'>
                    if (user === 'AnonymousUser') {
                        document.querySelector('#userName').textContent = 'Username'
                        document.querySelector('#logoutBtn').classList.add('hidden')
                        document.querySelector('#userName').classList.remove('cursor-pointer', 'hover:opacity-70')
                    } else {
                        document.querySelector('#logoutBtn').classList.remove('hidden')
                        document.querySelector('#userName').textContent = `${user}`
                    }
                </script>
            </body>
            </html>