@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateOn {
    from {
        transform: rotate(45deg);
        font-weight: 900;
    }
    to {
        transform: rotate(360deg);
        font-weight: 100;
    }
}

@keyframes rotateOff {
    from {
        transform: rotate(360deg);
        font-weight: 100;
    }
    to {
        transform: rotate(45deg);
        font-weight: 900;
    }
}

/* Shake animation */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
}

.menuBtnOn {
    animation: rotateOn 0.3s forwards;
}

.menuBtnOff {
    animation: rotateOff 0.3s forwards;
}

.dialogAnimate {
    animation: fadeIn 0.5s ease-in-out, shake 0.5s ease-in-out;
}

.eyeOffBox {
    transition: height 500ms ease-in-out;
}

.eyeOnBox {
    transition: height 500ms ease-in-out;
}

.showing-eye-off .eyeOffBox {
    height: 1.25rem; /* Grow to original height */
}

.showing-eye-off .eyeOnBox {
    height: 0; /* Shrink to zero height */
}

.showing-eye-on .eyeOffBox {
    height: 0; /* Shrink to zero height */
}

.showing-eye-on .eyeOnBox {
    height: 1.25rem; /* Grow to original height */
}