@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateOn {
    from {
        transform: rotate(45deg);
        font-weight: 900;
    }
    to {
        transform: rotate(360deg);
        font-weight: 100;
    }
}

@keyframes rotateOff {
    from {
        transform: rotate(360deg);
        font-weight: 100;
    }
    to {
        transform: rotate(45deg);
        font-weight: 900;
    }
}

/* Shake animation */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    70% {
        transform: scale(1.005);
    }
    100% {
        transform: scale(1.015);
    }
}

@keyframes menuBoxOn {
    0% {
        max-height: 0;
        min-height: 0;
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        max-height: 20rem;
        min-height: 2.5rem;
        overflow: auto;
    }
}

@keyframes menuBoxOff {
    0% {
        max-height: 20rem;
        min-height: 2.5rem;
    }
    100% {
        max-height: 0;
        min-height: 0;
        visibility: hidden;
    }
}

.menuBtnOn {
    animation: rotateOn 0.3s forwards;
}

.menuBoxOn {
    animation: menuBoxOn 0.6s forwards;
    visibility: visible;
}

.menuBtnOff {
    animation: rotateOff 0.3s forwards ease-in;
}

.menuBoxOff {
    animation: menuBoxOff 0.6s forwards ease-out;
    overflow: hidden;
}

.dialogAnimate {
    animation: fadeIn 0.5s ease-in-out, shake 0.5s ease-in-out;
}

.eyeOffBox {
    transition: height 500ms ease-in-out;
}

.eyeOnBox {
    transition: height 500ms ease-in-out;
}

.showing-eye-off .eyeOffBox {
    height: 1.25rem; /* Grow to original height */
}

.showing-eye-off .eyeOnBox {
    height: 0; /* Shrink to zero height */
}

.showing-eye-on .eyeOffBox {
    height: 0; /* Shrink to zero height */
}

.showing-eye-on .eyeOnBox {
    height: 1.25rem; /* Grow to original height */
}

.transaction:hover {
    animation: pop 500ms ease-in-out forwards;
}

[data-tip] {
	position:relative;
}

[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 0.30rem solid transparent;
	border-right: 0.30rem solid transparent;
	border-bottom: 0.30rem solid #1a1a1a;	
	position:absolute;
    padding-top: 1rem;
    top:2rem;
	left:3rem;
	z-index:11;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}

[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:3.25rem;
	left:0.5rem;
	padding:0.25rem 0.5rem;
	background:#1a1a1a;
	color:#fff;
	z-index:12;
	font-size: 0.75em;
	height:2rem;
	line-height:1.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	white-space:nowrap;
	word-wrap:normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

.show-tooltip:before,
.show-tooltip:after {
    display: block;
}